@import url("https://fonts.googleapis.com/css2?family=Tajawal&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
  outline: none !important;
}

body {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.page {
  padding-top: 68px;
}

nav {
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 2%;
  z-index: 15;
}

nav .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .brand img {
  height: 50px;
  margin-right: 10px;
}

nav .brand div h1 {
  font-size: 20px;
  color: #111;
  font-weight: bold;
  margin: 0;
}

nav .brand div h2 {
  color: #FC0301;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

nav .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .links ul li a {
  display: block;
  padding: 8px 15px;
  color: #222;
  position: relative;
}

nav .links ul li a::after {
  content: '';
  width: 80%;
  position: absolute;
  height: 2px;
  background: #ddd;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 5px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

nav .links ul li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

nav .links ul li a.active::after {
  content: '';
  background: #483949;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.container-box {
  width: 95%;
  margin: auto;
  margin-top: 40px;
  display: block;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
  background: #fff;
  border-radius: 15px;
}

.container-box .row {
  margin: 0 !important;
}

.frm {
  width: 60%;
  margin: auto;
}

.inputs-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 1px;
  border: #bbb 1px solid;
  margin-top: 15px;
  border-radius: 15px;
  overflow: hidden;
}

.inputs-table .control_indicator {
  top: 7px;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.inputs-table th,
.inputs-table td {
  border-right: #bbb 1px solid;
  border-bottom: #bbb 1px solid;
  padding: 0;
}

.inputs-table th:last-child,
.inputs-table td:last-child {
  border-right: none;
}

.inputs-table th {
  font-size: 17px;
  padding: 10px 10px;
}

.inputs-table tr:last-child td {
  border-bottom: none;
}

.inputs-table input {
  width: 100%;
  padding: 10px 10px;
  border: none;
}

.input-lbl {
  font-weight: bold;
  font-size: 17px;
  margin-top: 25px;
  display: block;
}

.input1 {
  width: 100%;
  border: #bbb 1px solid;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 17px;
}

textarea.input1 {
  min-height: 150px;
  resize: vertical;
}

.input-groub {
  margin-bottom: 15px;
}

.input-groub > h1 {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  padding: 5px 15px;
  color: #fff;
  border-radius: 10px 10px 0 0;
  background: #483949;
}

.input-groub > div {
  border: #483949 1px solid;
  border-radius: 0 10px 10px 10px;
  padding-bottom: 15px;
}

.input-groub .input-lbl {
  margin-top: 12px;
}

h1.page-title {
  font-size: 40px;
  text-align: center;
  color: #483949;
}

h1.page-title span {
  position: relative;
}

h1.page-title span::after {
  content: '';
  height: 7px;
  background-image: url("/img/dots.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -10px;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 5px;
}

h2.sub-title {
  color: #483949;
}

.mhr1 {
  opacity: 0.3;
}

.btn1 {
  font-size: 17px;
  background: #483949;
  border-radius: 50px;
  padding: 5px 15px;
  color: #fff;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.btn1:hover {
  -webkit-box-shadow: rgba(72, 57, 73, 0.3) 0 0px 0px 5px;
          box-shadow: rgba(72, 57, 73, 0.3) 0 0px 0px 5px;
}

.ta-r {
  text-align: right;
}

.ta-c {
  text-align: center;
}
/*# sourceMappingURL=layout.css.map */